@font-face {
  font-family: 'Montserrat-Medium';
  src: url('Montserrat-Medium.svg#Montserrat-Medium') format('svg'),
       url('Montserrat-Medium.ttf') format('truetype'),
       url('Montserrat-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-medium';
  src: url('montserrat-medium.eot');
  src: url('montserrat-medium.eot?#iefix') format('embedded-opentype'),
       url('montserrat-medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

