@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'),
       url('ProximaNova-Bold.ttf') format('truetype'),
       url('ProximaNova-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima-nova-bold';
  src: url('proxima-nova-bold.eot');
  src: url('proxima-nova-bold.eot?#iefix') format('embedded-opentype'),
       url('proxima-nova-bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

