@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: url('ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg'),
       url('ProximaNova-Extrabld.ttf') format('truetype'),
       url('ProximaNova-Extrabld.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ofont.ru_Proxima Nova';
  src: url('ofont.ru_Proxima Nova.eot');
  src: url('ofont.ru_Proxima Nova.eot?#iefix') format('embedded-opentype'),
       url('ofont.ru_Proxima Nova.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

